#header{
  background-color: black;
  color:white;
  text-align: center;
  width: 45%;
  height: 6vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: auto;
}

.Card-Body{
  background-color: gray;
}

