#header {
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 Cards nebeneinander */
  gap: 20px; /* Abstand zwischen den Cards */
}

.task-card {
  background-color: #f8f9fa; /* Heller Hintergrund für die Cards */
  border-radius: 5px;
  padding: 15px;
}
